:root {
	--primary-light: #a6f9d6;
	--primary: #5be2a9;
	--primary-dark: #53ce9a;
	--secondary: #1e2145;
	--white: #fff;
	--grey-light: #d1d5da;
	--grey: #555;
	--grey-dark: #292a2c;
	--grey-darkest: #202124;
	--red: #ff6b6b;
	--orange: #ff3e00;
}

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--grey-dark);
}

.container {
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 80vw;
	min-width: 15rem;
	max-width: 40rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: var(--grey-darkest);
	margin: 0 0 0.5em 0;
	font-weight: 400;
	line-height: 1.2;
}

h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: var(--grey-darkest);
	text-transform: uppercase;
	font-size: 2em;
}

a {
	text-decoration-color: var(--orange);
	color: inherit;
	transition: 0.2s;
}

/* used for errors */

small {
	display: block;
	font-size: 12px;
	color: var(--red);
	margin-top: 10px;
}

a:hover {
	color: var(--orange);
	transition: 0.2s;
}

@media (max-width: 40rem) {
	h1 {
		font-size: 1.5em;
	}
	h2 {
		font-size: 1.17em;
	}
	h3 {
		font-size: 1em;
	}
	h4 {
		font-size: 0.83em;
	}
	body {
		font-size: 14px;
	}
}

@media (max-width: 30rem) {
	h1 {
		font-size: 1.3em;
	}
	h2 {
		font-size: 1em;
	}
	h3 {
		font-size: .9em;
	}
	h4 {
		font-size: 0.7em;
	}
	body {
		font-size: 11px;
	}
	small {
		display: block;
		font-size: 9px;
		color: var(--red);
		margin-top: 10px;
	}
}

.subtitle {
	color: var(--grey);
	margin-bottom: 0.5rem;
}

input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	max-width: 400px;
	width: 100%;
	padding: 12px;
	box-sizing: border-box;
	border: 1px solid var(--grey-light);
	border-radius: 4px;
	transition: all 150ms ease;
	background: var(--white);
}

.multiselect {
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	max-width: 400px;
	width: 100%;
	padding: 0px 12px 12px 12px;
	background: var(--white);
}

.multiselect>label {
	margin: 0 0 0 0;
	width: auto;
	padding: 0;
}

label>input {
	width: initial
}

select {
	height: 45px;
}

input:focus, select:focus, textarea:focus {
	outline: none;
	box-shadow: 0 0 0 4px rgb(227, 227, 245);
	border-color: var(--grey-light);
}

input:disabled, select:disabled, textarea:disabled {
	color: var(--grey-light);
}

button {
	color: var(--white);
	background-color: var(--primary);
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.8px;
	outline: none;
	border-radius: 4px;
	display: block;
	margin-top: 12px;
	line-height: 1.8;
	font-size: 12px;
	padding: 10px 18px;
	/* min-width: 120px; */
	transition: all 150ms ease;
	cursor: pointer;
}

button:disabled {
	background-color: var(--grey);
}

button:focus:not(:disabled) {
	box-shadow: 0 0 0 4px var(--primary-light);
}

button:hover:not(:disabled) {
	background-color: var(--primary-dark);
}

label {
	display: block;
	color: var(--grey-dark);
	margin-top: 20px;
	margin-bottom: 4px;
	font-size: inherit;
	letter-spacing: 1.5px;
	line-height: 2;
}